.trip-photo {
    max-width: 1920px;
    margin: 0 auto;

    @media (max-width:1024px) {
        max-width: 1024px;
    }
    @media (max-width:360px) {
        max-width: 360px;
    }

    &__title {
        max-width: 723px;
        margin: 135px auto 0 auto;
 
        @media (max-width:360px) {
            width: 318px;
            font-size: 34px;
            letter-spacing: 0.02em;
            margin: 72px auto 0 auto;
        }
    }

    &__subtitle {
        max-width: 418px;
        margin: 30px auto 0 auto;

        @media (max-width:360px) {
            width: 318px;
            font-size: 16px;
            margin: 20px auto 0 auto;
        }
    }

    &__photo-collection {
        max-width: 1860px;
        margin: 100px auto 0 auto;

        @media (max-width:1024px) {
            max-width: 984px;
        }
        @media (max-width:360px) {
            margin: 50px auto 0 auto;
            width: 318px;
        }
    }
    
    %for-items {
        border-radius: 50px;
        overflow: hidden;
        
        &:nth-child(1) {
            margin-left: 0;
        }
        @media (max-width:360px) {
            border-radius: 20px;
        }
    }

    &__first-row {
        display: flex;
        justify-content: space-between;
    }
    
    &__first-row-item {
        flex: 0 1 23.7%;
        
        @extend %for-items;

        @media (max-width:1024px) {
            flex: 0 1 32%;
            height: 300px;

            &:nth-child(2) {
                display: none;
            }
        }
        @media (max-width:360px) {
            flex: 0 1 47%;
            height: 110px;

            &:nth-child(2), &:nth-child(3) {
                display: none;
            }
        }
    }
   
    &__second-row {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;

        @media (max-width:360px) {
            padding-top: 18px;
        }
    }
   
    &__second-row-item {
        flex: 0 1 18.8%;
        height: 301px;

        @extend %for-items;

        @media (max-width:1024px) {
            flex: 0 1 23.3%;
            height: 301px;
            
            &:nth-child(3) {
                display: none;
            }
        }
        @media (max-width:360px) {
            flex: 0 1 31%;
            height: 110px;

            &:nth-child(2), &:nth-child(3) {
                display: none;
            }
        }
    }
    
    &__photo {
        width: 100%;
        height:  100%;
        object-fit: cover;
    }

    &__third-row {
        display: flex;
        padding-top: 30px;
        justify-content: space-between;

        @media (max-width:360px) {
            padding-top: 18px;
        }
    }

    &__third-row-item {
        flex: 0 1 23.7%;
        height: 300px;

        @extend %for-items;

        @media (max-width:1024px) {
            flex: 0 1 32%;
            height: 300px;
            
            &:nth-child(4) {
                display: none;
            }
        }
        @media (max-width:360px) {
            flex: 0 1 48%;
            height: 110px;

            &:nth-child(3) {
                display: none;
            }
        }
    }
}