@import 'nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

@mixin bg-for-travel-block($f) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url($f) 0 0/cover  no-repeat;
    border-radius: 50px;
    background-size: 100% 100%;
    transition: background-size .3s ease;

    &:hover {
        cursor: pointer;
        background-size: 120% 120%;
    }
    @media (max-width:1024px) {
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url($f) 50% /cover no-repeat;
        background-size: 100% 100%;
        transition: background-size .3s ease;
    }
    @media (max-width:360px) {
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url($f) 50% /cover no-repeat;
        background-size: 100% 100%;
        transition: background-size .3s ease;
        border-radius: 20px;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #f9f7f4;
    overflow-x: hidden;

    @media (max-width:360px) {
        font-size: 16px;
    }
}
$primary-black: #1B1F2B;
$orange-hover: #EFA501;
$primary-gray: #A6A6A6;

.main-title-block {
    font-size: 59px;
    font-weight: bold;
    line-height: 124%;
    text-align: center;
    color: $primary-black;

    @media (max-width:360px) {
        width: 360px;
        font-size: 23px;
        line-height: 120%;
        letter-spacing: 0.04em;
    }
}
/*------------------------*/
.perfect-travel {
    background: url('../images/header-img.jpg')0 0/100% auto no-repeat;
    height: 831px;
    width: 1920px;

    @media (max-width:1024px) {
        width: 1024px;
        height: 831px;
        background: url('../images/header-img-2.jpg') 0 0/100% no-repeat;
    }

    @media (max-width:360px) {
        width: 360px;
        height: 488px;
        background: url('../images/header-img-3.jpg') 0 0/contain no-repeat;
    }
        &__logo-image {
            @media (max-width:360px) {
                display: none;
            }
        }

        &__logo-image-320{
            display: none;

            @media (max-width:360px) {
                width: 133px;
                height: 22px;
                display: block;
            }
        }

		&__top-block {
            display: flex;
            justify-content: space-between;
            width: 1168px;
            height: 88px;
            margin: 0 auto;
            padding: 28.88px 0;

            @media (max-width:1024px) {
                width: 910px;
            }
            @media (max-width:360px) {
                padding: 33px 0;
                width: 320px;
            }
		}
        
        &__tel-number-link {
            color:#FFF;
            height: 28px;
            line-height: 142%;
		}

		&__tagline {
            margin: 119px auto 0 auto;
            width: 768px;
            height: 315px;
            font-weight: bold;
            font-size: 96px;
            line-height: 109%;
            text-align: center;
            letter-spacing: 0.02em;

            @media (max-width:360px) {
                width: 360px;
                height: 114px;
                font-size: 34px;
                margin: 52px 0 0 0;
                letter-spacing: 0.02em;
                line-height: 112%;
            }
		}

		&__text {
            margin: 50px auto 0 auto;
            width: 562px;
            line-height: 142%;
            text-align: center;

            @media (max-width:1024px) {
                width: 442px;
            }
            @media (max-width:360px) {
                margin-top: 40px;
                width: 310px;
                height: 69px;
            } 
		}

		&__button {
            display: block;
            width: 118px;
            height: 34px;
            margin: 50px auto;
            background-color: #FFFFFF;
            border-radius: 10px;
            color: #000;
            font-size: 17px;
            line-height: 34px;
            text-align: center;

            @media (max-width:360px) {
                width: 114px;
                height: 33px;
                margin: 40px auto;
            }
		}
}
.navigation {
    width: 468px;
    
    @media (max-width:1024px) {
        width: 408px;
    }
    @media (max-width:360px) {
        display: none;
        
    }

		&__list {
            display: flex;
            justify-content: space-between;
            height: 28px;
		}

		&__link {
            line-height: 142%;
            color: #FFFFFF;
		}

        &__link:hover {
            text-decoration: underline;
        }
}
/*------------------------*/
.choose-tour {
    width: 1920px;

    @media (max-width:1024px) {
        width: 1024px;
    }
    @media (max-width:360px) {
        width: 360px;
    }

    &__wrapper {
        width: 1170px;
        margin: 0 auto;

        @media (max-width:1024px) {
            width: 1024px;
        }
        @media (max-width:360px) {
            width: 360px;
        }
    }
    &__title {
        margin: 135px 0 0 0px;

        @media (max-width:1024px) {
            margin: 135px auto 0 auto;
        }
        @media (max-width:360px) {
            margin: 75px auto 0 auto;
        }
    }

    &__list {
        width: 700px;
        height: 34px;
        display: flex;
        justify-content: space-between;
        margin: 35px auto 100px auto;

        @media (max-width:1024px) {
            margin: 35px auto 100px;    
        }
        @media (max-width:360px) {
            justify-content: start;
            width: 270px;
            flex-wrap: wrap;
            margin: 32px 42px 70px;
        }
    }

    &__item {
        &:first-child a {
            color: $orange-hover;
            border-bottom: 2px solid $orange-hover;
        }

        @media (max-width:360px) {
            padding: 1px 0 0 10px;

            &:nth-child(4) {
                padding: 14px 0 0 50px;
            }
            &:nth-child(5) {
                padding: 14px 0 0 10px;
            }
        }
    }

    &__link {
        font-weight: bold;
        font-size: 23px;
        line-height: 122%;
        color: $primary-black;

        &:hover {
            border-bottom: 2px solid $primary-black;
        }

        @media (max-width:360px) {
            font-size: 16px;
        }
    }
}
.card-collection {
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    
    @media (max-width:360px) {
        width: 360px;
    }

    &__item { 
        display: inline-block;
        width: 370px;
        height: 531px;
        display: flex;
        flex-direction: column;
        margin: 0 30px 30px 0;

        @media (max-width:1024px) {
            width: 450px;
            height: 531px;
            margin: 0 18px 18px 0;
        }

        @media (max-width:360px) {
            width: 318px;
            height: 318px;
        }
        
        &:nth-child(1) {
            @include bg-for-travel-block ('../images/card tour photo-1.jpg');

            @media (max-width:1024px) {
                @include bg-for-travel-block ('../images/card tour photo-1-1024.jpg');
            }
            @media (max-width:360px) {
                @include bg-for-travel-block ('../images/card tour photo-1-300.jpg');
            }
        }
        &:nth-child(2) {
            @include bg-for-travel-block ('../images/card tour photo-2.jpg');
            
            @media (max-width:1024px) {
                @include bg-for-travel-block ('../images/card tour photo-2-1024.jpg');
            }
            @media (max-width:360px) {
                @include bg-for-travel-block ('../images/card tour photo-2-300.jpg');
            }
        }
        &:nth-child(3) {
            @include bg-for-travel-block ('../images/card tour photo-3.jpg');
            margin: 0;

            @media (max-width:1024px) {
                margin: 0 18px 18px 0;
                @include bg-for-travel-block ('../images/card tour photo-3-1024.jpg');
            }
            @media (max-width:360px) {
                @include bg-for-travel-block ('../images/card tour photo-3-300.jpg');
            }
        }
        &:nth-child(4) {
            @include bg-for-travel-block ('../images/card tour photo-4.jpg');

            @media (max-width:1024px) {
                @include bg-for-travel-block ('../images/card tour photo-4-1024.jpg');
            }
            @media (max-width:360px) {
                @include bg-for-travel-block ('../images/card tour photo-4-300.jpg');
            }
        }
        &:nth-child(5) {
            @include bg-for-travel-block ('../images/card tour photo-5.jpg');

            @media (max-width:1024px) {
                @include bg-for-travel-block ('../images/card tour photo-5-1024.jpg');
            }
            @media (max-width:360px) {
                @include bg-for-travel-block ('../images/card tour photo-5-300.jpg');
            }
        }
        &:nth-child(6) {
            @include bg-for-travel-block ('../images/card tour photo-6.jpg');
            margin: 0;

            @media (max-width:1024px) {
                @include bg-for-travel-block ('../images/card tour photo-6-1024.jpg');
            }
            @media (max-width:360px) {
                @include bg-for-travel-block ('../images/card tour photo-6-300.jpg');
            }
        }
    }
    
    &__title {
        width: 270px;
        height: 86px;
        padding: 50px;
        font-weight: 500;
        font-size: 35px;
        line-height: 122%;

        @media (max-width:1024px) {
            width: 400px;
            padding: 50px 0 0 50px;
        }
        @media (max-width:360px) {
            width: 268px;
            height: 28px;
            font-size: 23px;
            line-height: 120%;
            letter-spacing: 0.04em;
            padding: 27px 0 0 25px;
        }
    }

    &__subtitle {
        font-size: 17px;
        line-height: 142%;
        letter-spacing: -0.01em;
        padding: 55px 50px 0 50px;
        flex: 1 1 auto;

        @media (max-width:1024px) {
            padding: 23px 50px 0 50px;
        }
        @media (max-width:360px) {
            font-size: 16px;
            line-height: 142%;
            padding: 40px 0 0 25px;
        }
    }

    &__link {
        display: block;
        width: 200px;
        height: 42px;
        font-weight: bold;
        font-size: 23px;
        line-height: 122%;
        margin: 30px 0 40px 30px;
        line-height: 42px;
        padding: 0 0 0 20px;
        color: #FFF;

        & span {
            display: inline-block;
            width: 50px;
            height: 26px;
            background: url('../images/icons/arrowright.svg') 11px 11px no-repeat;

            @media (max-width:360px) {
                width: 40px;
                height: 27.5px;
                background: url('../images/icons/arrowright.svg') 11.5px 12.4px no-repeat;
            }
        }

        @media (max-width:1024px) {
            margin: 0px 0 43px 30px;
        }
        @media (max-width:360px) {
            width: 160px;
            font-size: 16px;
            text-align: center;
            margin: 0px 0 16px 0px;
        }
    }
    &__link:hover {
        background: #286562;
        border-radius: 50px;
    }
}
._adaptive {
    @media (max-width:1024px) {
        margin: 0 53px;
    }
    @media (max-width:360px) {
        margin: 0 21px;
    }
}
/*------------------------*/
.collect-tour {
    width: 1920px;
    
    @media (max-width:1024px) {
        width: 1024px;
    }

    @media (max-width:360px) {
        width: 360px;
    }

    &__wrapper {
        width: 1170px;
        margin: 0 auto;

        @media (max-width:360px) {
            width: 360px;
        }
    }
    &__title {
        margin: 106px 0 0 0;

        @media (max-width:1024px) {
            width: 500px;
            height: 73px;
            margin: 115px 0 auto 260px;
        }

        @media (max-width:360px) {
            width: 360px;
            height: 38px;
            margin: 75px 0 0 0;
            font-size: 34px;
            line-height: 112%;
            letter-spacing: 0.02em;
        }
    }

    &__subtitle {
        width: 400px;
        height: 56px;
        margin: 30px auto;

        @media (max-width:1024px) {
            margin: 30px 0 0 312px;
        }

        @media (max-width:360px) {
            width: 318px;
            margin: 20px;
        }
    }

    &__form {
        margin: 100px auto;

        @media (max-width:1024px) {
            margin: 100px 0 0 53px;
        }

        @media (max-width:360px) {
            margin: 34px 21px 0 21px;
        }
    }
    ._adaptive-comment {
        @media (max-width:360px) {
            position: relative;
            top: 6px;
            left: 0;
        }
    }
}
.main-subtitle-block {
    line-height: 142%;
    text-align: center;
    color: $primary-gray;
}
.main-form {
    width: 1170px;
    border-radius: 50px;
    background-color: #FFFFFF;
    
    @media (max-width:1024px) {
        width: 918px;
    }
    @media (max-width:360px) {
        width: 318px;
        height: 1110px;
        border-radius: 30px;
    }

    &__form-wrapper {
        padding: 70px;
        display: flex;
        flex-wrap: wrap;

        @media (max-width:1024px) {
            padding: 60px;
        }
        @media (max-width:360px) {
            padding: 20px;
        }
    }
    &__item {
        position: relative;
        margin-top: 33px;
        
        &:first-child {
            margin-top: -2px;
        }
        &:nth-child(2) {
            margin: 0px 0 0 30px;

            @media (max-width:1024px) {
                margin: 0px 0 0 20px;
            }
            @media (max-width:360px) {
                margin: 33px 0 0 0px;
            }
        }
        &:nth-child(4) {
            margin: 33px 0 0 30px;

            @media (max-width:1024px) {
                margin: 33px 0 0 20px;
            }
            @media (max-width:360px) {
                margin: 34px 0 0 0px;
            }
        }
        &:nth-child(6) {
            margin: 33px 0 0 30px;

            @media (max-width:1024px) {
                margin: 33px 0 0 20px;
            }
            @media (max-width:360px) {
                margin: 34px 0 0 0px;
            }
        }
    }

    &__title {
        width: 500px;
        height: 28px;
        color: $primary-black;
        line-height: 142%;

        @media (max-width:1024px) {
            width: 389px;
        }
        @media (max-width:360px) {
            width: 218px;
        }
    }

    &__input {
        width: 500px;
        height: 68px;
        border-radius: 10px;
        padding: 20px;
        margin-top: 8px;
        background-color: #F9F7F4;
        font-size: 20px;
        line-height: 142%;

        @media (max-width:1024px) {
            width: 389px;
        }
        @media (max-width:360px) {
            width: 278px;
            height: 43px;
            font-size: 16px;
            margin: 0;
            padding: 10px;
        }

        &:hover {
            cursor: pointer;
        }
        &:focus {
            border: $primary-black solid 1px;
        }
    }
    
    &__select {
        position: absolute;
        top: 66px;
        left: 457px;
        width: 25px;
        height: 25px;
        appearance: none;
        background:  url('../images/icons/Rectangle 34 (Stroke).svg') 0 0 no-repeat;

        @media (max-width:1024px) {
            position: absolute;
            top: 66px;
            left: 347px;
        }
        @media (max-width:360px) {
            position: absolute;
            top: 48px;
            left: 246px;
        }
    }

    &__empty-item {
        display: none;
    }

    &__block-expansion {
        margin-top: 32px;
        width: 1030px;

        @media (max-width:1024px) {
            width: 798px;
        }
        @media (max-width:360px) {
            margin-top: 27px;
            width: 278px;
        }
    }

    &__text-area {
        width: 1030px;
        height: 152px;
        border-radius: 10px;
        padding: 15px;
        margin-top: 8px;
        font-size: 20px;
        background-color: #F9F7F4;
        resize: none;

        @media (max-width:1024px) {
            width: 798px;
        }
        @media (max-width:360px) {
            width: 278px;
            height: 132px;
        }
    }

    &__age-confirm {
        width: 26px;
        height: 26px;

        @media (max-width:360px) {
            width: 20px;
            height: 20px;
        }
    }

    &__age-confirm-block {
        margin-top: 9px;
        height: 26px;
        color: $primary-black;

        @media (max-width:360px) {
            margin-top: 5px;
        }
    }
    
    &__label {
        position: relative;
        top: -8px;
        left: 1px;
        display: inline-block;
        margin-right: 25px;
        width: 35px;
        height: 28px;
        font-size: 20px;
        color: $primary-black;
        text-align: center;

        @media (max-width:360px) {
            font-size: 16px;
            margin-right: 19px;
            position: relative;
            top: -5px;
            left: 0px;
        }
    }

    &__agree-icon {
        width: 26px;
        height: 26px;

        @media (max-width:360px) {
            display: inline-block;
            position: relative;
            top: -42px;
            left: 0;
            width: 20px;
            height: 20px;
        }
    }

    &__agree {
        display: inline-block;
        position: relative;
        top: -7px;
        left: 12px;
        font-size: 17px;
        letter-spacing: -0.01em;
        color: $primary-gray;

        @media (max-width:1024px) {
            position: relative;
            top: -7px;
            left: 7px;
        }
        @media (max-width:360px) {
            width: 240px;
            font-size: 16px;
            line-height: 142%;
            position: relative;
            top: 0px;
            left: -4px;
            margin: 0px 0 0 10px;
        }
    }

    &__agree-link {
        color: $primary-black;

        &:active {
            color: #286562;
        }
    }

    %button-form {
        width: 235px;
        height: 58px;
        border-radius: 10px;
        font-size: 20px;

        @media (max-width:360px) {
            display: inline-block;
            width: 134px;
            height: 47px;
            font-size: 16px;
            line-height: 142%;
        }
    }

    &__find-tour {
        @extend %button-form;
        color: #FFFFFF;
        background: #286562;

        &:hover {
            border: #baf5ce solid 2px;
        }
    }

    &__decline-tour {
        @extend %button-form;
        background: #E0F0E5;
        color: #286562;
        margin: 0 0 0 25px;

        @media (max-width:360px) {
            margin: 0 0 0 6px;
        }

        &:hover {
            border: #286562 solid 2px;
        }
    }
}
/*------------------------*/
.feedback {
    
    @media (max-width:1920px) {
        width: 1920px;
    }
    @media (max-width:1024px) {
        width: 1024px;
    }
    @media (max-width:360px) {
        width: 360px;
    }

    &__title {
        text-align: center;
        color: $primary-black;
        font-weight: bold;

        @media (max-width:1920px) {
            width: 529px;
            margin: 135px auto 0 auto;
        }
        @media (max-width:1024px) {
            letter-spacing: -0.2px;
            width: 529px;
            margin: 135px auto 0 auto;
        }
        @media (max-width:360px) {
            width: 318px;
            margin-top: 75px;
            font-size: 34px;
            line-height: 112%;
            letter-spacing: 0.02em;
        }
    }

    &__subtitle {
        text-align: center;
        color: $primary-gray;

        @media (max-width:1920px) {
            width: 418px;
            margin: 30px auto 0 auto;
            line-height: 142%;
        }
        
        @media (max-width:360px) {
            width: 318px;
            height: 46px;
            line-height: 142%;
            margin: 20px auto 0 auto;
        }
    }

    &__cards {

        @media (max-width:1024px) {
            margin: 110px auto 0 auto;
        }
        @media (max-width:360px) {
            margin-top: 50px;
        }
    }
}
.cards {
    @media (max-width:1920px) {
        display: flex;
        flex-wrap: wrap;
        width: 1170px;
        margin: 100px auto 0 auto;
    }
    @media (max-width:1024px) {
        width: 918px;
    }
    @media (max-width:360px) {
        margin: 50px auto 0 auto;
        width: 360px;
    }

    &__wrapper {
        background: #F4F0E9;
        margin: 0 auto;

        @media (max-width:1920px) {
            width: 570px;
            height: 673px;
            padding: 40px 40px 40px 40px;
            border-radius: 50px;

            &:nth-child(2) {
                margin: 0 0 0 30px;
            }
        }
        @media (max-width:1024px) {
            width: 450px;
            height: 841px;
            padding: 40px 40px 40px;

            &:nth-child(2) {
                margin: 0 0 0 18px;
            }
        }
        @media (max-width:360px) {
            border-radius: 20px;
            width: 318px;
            padding: 18px 20px 20px 22px;

            &:nth-child(1) {
                height: 408px;
            }
            &:nth-child(2) {
                height: 592px;
                margin: 18px 0 0 18px;
            }
        }
    }

    &__text-container-1 {
        @media (max-width:1920px) {
            height: 448px;
        }
        @media (max-width:1024px) {
            height: 618px;
        }
        @media (max-width:360px) {
            height: 253px;
        }
    }

    &__text-container-2 {
        @media (max-width:1920px) {
            height: 448px;
        }
        @media (max-width:1024px) {
            height: 618px;
        }
        @media (max-width:360px) {
            height: 437px;
        }
    }

    &__text {
        color: $primary-black;
        font-weight: bold;

        @media (max-width:1920px) {
            width: 490px;
            font-size: 23px;
            line-height: 122%;

            &:nth-child(2) {
                margin-top: 28px;
            }

        }
        @media (max-width:1024px) {
            width: 370px;

            &:nth-child(2) {
                margin-top: 28px;
            }
        }
        @media (max-width:360px) {
            line-height: 147%;
            width: 275px;
            font-size: 16px;

            &:nth-child(2) {
                margin-top: 21px;
            }
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media (max-width:1920px) {
            margin: 70px 0 0 0;
        }
       
        @media (max-width:360px) {
            width: 278px;
            margin: 40px 0 0 0;
        }
    }

    &__info-container {
        
        @media (max-width:1024px) {
            height: 75px;
        }
        @media (max-width:360px) {
            height: 59px;
        }
    }

    &__name {
        font-weight: bold;
        color: $primary-black;

        @media (max-width:1920px) {
            font-size: 35px;
            line-height: 122%;
        }
        @media (max-width:360px) {
            font-size: 23px;
            line-height: 120%;
            letter-spacing: 0.04em;
        }
    }

    &__prefer {
        line-height: 142%;
        color: $primary-gray;
        margin-top: 8px;  

        @media (max-width:1920px) {
            font-size: 17px;
        }
        @media (max-width:360px) {
            font-size: 16px;
            letter-spacing: -0.01em;
        }
    }

    &__photo {
        width: 75px;
        height: 75px;
        border-radius: 100px;
    }
}
/*------------------------*/
/*------------------------*/
