@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #f9f7f4;
  overflow-x: hidden;
}

@media (max-width: 360px) {
  body {
    font-size: 16px;
  }
}

/*------------------------*/
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.perfect-travel {
  background: url("../images/header-img.jpg") 0 0/100% auto no-repeat;
  width: 1920px;
  height: 831px;
}

@media (max-width: 1024px) {
  .perfect-travel {
    width: 1024px;
    height: 831px;
    background: url("../images/header-img-2.jpg") 0 0/100% no-repeat;
  }
}

@media (max-width: 360px) {
  .perfect-travel {
    width: 360px;
    height: 488px;
    background: url("../images/header-img-3.jpg") 0 0/contain no-repeat;
  }
}

@media (max-width: 360px) {
  .perfect-travel__logo-image {
    display: none;
  }
}

.perfect-travel__logo-image-320 {
  display: none;
}

@media (max-width: 360px) {
  .perfect-travel__logo-image-320 {
    width: 133px;
    height: 22px;
    display: block;
  }
}

.perfect-travel__top-block {
  display: flex;
  justify-content: space-between;
  width: 1168px;
  height: 88px;
  margin: 0 auto;
  padding: 28.88px 0;
}

@media (max-width: 1024px) {
  .perfect-travel__top-block {
    width: 910px;
  }
}

@media (max-width: 360px) {
  .perfect-travel__top-block {
    padding: 33px 0;
    width: 320px;
  }
}

.perfect-travel__tel-number-link {
  color: #FFF;
  height: 28px;
  line-height: 142%;
}

.perfect-travel__tagline {
  margin: 119px auto 0 auto;
  width: 768px;
  height: 315px;
  font-weight: bold;
  font-size: 96px;
  line-height: 109%;
  text-align: center;
  letter-spacing: 0.02em;
}

@media (max-width: 360px) {
  .perfect-travel__tagline {
    width: 360px;
    height: 114px;
    font-size: 34px;
    margin: 52px 0 0 0;
    letter-spacing: 0.02em;
    line-height: 112%;
  }
}

.perfect-travel__text {
  margin: 50px auto 0 auto;
  width: 562px;
  line-height: 142%;
  text-align: center;
}

@media (max-width: 1024px) {
  .perfect-travel__text {
    width: 442px;
  }
}

@media (max-width: 360px) {
  .perfect-travel__text {
    margin-top: 40px;
    width: 310px;
    height: 69px;
  }
}

.perfect-travel__button {
  display: block;
  width: 118px;
  height: 34px;
  margin: 50px auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  color: #000;
  font-size: 17px;
  line-height: 34px;
  text-align: center;
}

@media (max-width: 360px) {
  .perfect-travel__button {
    width: 114px;
    height: 33px;
    margin: 40px auto;
  }
}

.navigation {
  width: 468px;
}

@media (max-width: 1024px) {
  .navigation {
    width: 408px;
  }
}

@media (max-width: 360px) {
  .navigation {
    display: none;
  }
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  height: 28px;
}

.navigation__link {
  line-height: 142%;
  color: #FFFFFF;
}

.navigation__link:hover {
  text-decoration: underline;
}

/*------------------------*/
.choose-tour__wrapper {
  width: 1155px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .choose-tour__wrapper {
    width: 1024px;
  }
}

@media (max-width: 360px) {
  .choose-tour__wrapper {
    width: 360px;
  }
}

.choose-tour__title {
  margin: 135px 0 0 16px;
}

@media (max-width: 1024px) {
  .choose-tour__title {
    margin: 135px auto 0 auto;
  }
}

@media (max-width: 360px) {
  .choose-tour__title {
    margin: 75px auto 0 auto;
  }
}

.choose-tour__list {
  width: 700px;
  height: 34px;
  display: flex;
  margin: 35px auto 100px auto;
}

@media (max-width: 1024px) {
  .choose-tour__list {
    margin: 35px 154px 100px;
  }
}

@media (max-width: 360px) {
  .choose-tour__list {
    width: 270px;
    flex-wrap: wrap;
    margin: 32px 42px 70px;
  }
}

.choose-tour__item {
  padding-left: 30px;
}

.choose-tour__item:first-child {
  padding-left: 10px;
}

.choose-tour__item:first-child a {
  color: #EFA501;
  border-bottom: 2px solid #EFA501;
}

@media (max-width: 360px) {
  .choose-tour__item {
    padding: 1px 0 0 10px;
  }
  .choose-tour__item:nth-child(4) {
    padding: 14px 0 0 50px;
  }
  .choose-tour__item:nth-child(5) {
    padding: 14px 0 0 10px;
  }
}

.choose-tour__link {
  font-weight: bold;
  font-size: 23px;
  line-height: 122%;
  color: #1B1F2B;
}

.choose-tour__link:hover {
  border-bottom: 2px solid #1B1F2B;
}

@media (max-width: 360px) {
  .choose-tour__link {
    font-size: 16px;
  }
}

.main-title-block {
  font-size: 59px;
  font-weight: bold;
  line-height: 124%;
  text-align: center;
  color: #1B1F2B;
}

@media (max-width: 360px) {
  .main-title-block {
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
}

.card-collection {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 360px) {
  .card-collection {
    width: 360px;
  }
}

.card-collection__item {
  display: inline-block;
  width: 370px;
  height: 531px;
  display: flex;
  flex-direction: column;
  margin: 0 30px 30px 0;
}

@media (max-width: 1024px) {
  .card-collection__item {
    width: 450px;
    height: 531px;
    margin: 0 18px 18px 0;
  }
}

@media (max-width: 360px) {
  .card-collection__item {
    width: 318px;
    height: 318px;
  }
}

.card-collection__item:nth-child(1) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-1.jpg") 0 0/cover no-repeat;
  border-radius: 50px;
  background-size: 100% 100%;
  transition: background-size .3s ease;
}

.card-collection__item:nth-child(1):hover {
  cursor: pointer;
  background-size: 120% 120%;
}

@media (max-width: 1024px) {
  .card-collection__item:nth-child(1) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-1.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 360px) {
  .card-collection__item:nth-child(1) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-1.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

@media (max-width: 1024px) {
  .card-collection__item:nth-child(1) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-1-1024.jpg") 0 0/cover no-repeat;
    border-radius: 50px;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
  .card-collection__item:nth-child(1):hover {
    cursor: pointer;
    background-size: 120% 120%;
  }
}

@media (max-width: 1024px) and (max-width: 1024px) {
  .card-collection__item:nth-child(1) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-1-1024.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 1024px) and (max-width: 360px) {
  .card-collection__item:nth-child(1) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-1-1024.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

@media (max-width: 360px) {
  .card-collection__item:nth-child(1) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-1-300.jpg") 0 0/cover no-repeat;
    border-radius: 50px;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
  .card-collection__item:nth-child(1):hover {
    cursor: pointer;
    background-size: 120% 120%;
  }
}

@media (max-width: 360px) and (max-width: 1024px) {
  .card-collection__item:nth-child(1) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-1-300.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 360px) and (max-width: 360px) {
  .card-collection__item:nth-child(1) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-1-300.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

.card-collection__item:nth-child(2) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-2.jpg") 0 0/cover no-repeat;
  border-radius: 50px;
  background-size: 100% 100%;
  transition: background-size .3s ease;
}

.card-collection__item:nth-child(2):hover {
  cursor: pointer;
  background-size: 120% 120%;
}

@media (max-width: 1024px) {
  .card-collection__item:nth-child(2) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-2.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 360px) {
  .card-collection__item:nth-child(2) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-2.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

@media (max-width: 1024px) {
  .card-collection__item:nth-child(2) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-2-1024.jpg") 0 0/cover no-repeat;
    border-radius: 50px;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
  .card-collection__item:nth-child(2):hover {
    cursor: pointer;
    background-size: 120% 120%;
  }
}

@media (max-width: 1024px) and (max-width: 1024px) {
  .card-collection__item:nth-child(2) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-2-1024.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 1024px) and (max-width: 360px) {
  .card-collection__item:nth-child(2) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-2-1024.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

@media (max-width: 360px) {
  .card-collection__item:nth-child(2) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-2-300.jpg") 0 0/cover no-repeat;
    border-radius: 50px;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
  .card-collection__item:nth-child(2):hover {
    cursor: pointer;
    background-size: 120% 120%;
  }
}

@media (max-width: 360px) and (max-width: 1024px) {
  .card-collection__item:nth-child(2) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-2-300.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 360px) and (max-width: 360px) {
  .card-collection__item:nth-child(2) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-2-300.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

.card-collection__item:nth-child(3) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-3.jpg") 0 0/cover no-repeat;
  border-radius: 50px;
  background-size: 100% 100%;
  transition: background-size .3s ease;
  margin: 0;
}

.card-collection__item:nth-child(3):hover {
  cursor: pointer;
  background-size: 120% 120%;
}

@media (max-width: 1024px) {
  .card-collection__item:nth-child(3) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-3.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 360px) {
  .card-collection__item:nth-child(3) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-3.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

@media (max-width: 1024px) {
  .card-collection__item:nth-child(3) {
    margin: 0 18px 18px 0;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-3-1024.jpg") 0 0/cover no-repeat;
    border-radius: 50px;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
  .card-collection__item:nth-child(3):hover {
    cursor: pointer;
    background-size: 120% 120%;
  }
}

@media (max-width: 1024px) and (max-width: 1024px) {
  .card-collection__item:nth-child(3) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-3-1024.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 1024px) and (max-width: 360px) {
  .card-collection__item:nth-child(3) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-3-1024.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

@media (max-width: 360px) {
  .card-collection__item:nth-child(3) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-3-300.jpg") 0 0/cover no-repeat;
    border-radius: 50px;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
  .card-collection__item:nth-child(3):hover {
    cursor: pointer;
    background-size: 120% 120%;
  }
}

@media (max-width: 360px) and (max-width: 1024px) {
  .card-collection__item:nth-child(3) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-3-300.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 360px) and (max-width: 360px) {
  .card-collection__item:nth-child(3) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-3-300.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

.card-collection__item:nth-child(4) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-4.jpg") 0 0/cover no-repeat;
  border-radius: 50px;
  background-size: 100% 100%;
  transition: background-size .3s ease;
}

.card-collection__item:nth-child(4):hover {
  cursor: pointer;
  background-size: 120% 120%;
}

@media (max-width: 1024px) {
  .card-collection__item:nth-child(4) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-4.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 360px) {
  .card-collection__item:nth-child(4) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-4.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

@media (max-width: 1024px) {
  .card-collection__item:nth-child(4) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-4-1024.jpg") 0 0/cover no-repeat;
    border-radius: 50px;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
  .card-collection__item:nth-child(4):hover {
    cursor: pointer;
    background-size: 120% 120%;
  }
}

@media (max-width: 1024px) and (max-width: 1024px) {
  .card-collection__item:nth-child(4) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-4-1024.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 1024px) and (max-width: 360px) {
  .card-collection__item:nth-child(4) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-4-1024.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

@media (max-width: 360px) {
  .card-collection__item:nth-child(4) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-4-300.jpg") 0 0/cover no-repeat;
    border-radius: 50px;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
  .card-collection__item:nth-child(4):hover {
    cursor: pointer;
    background-size: 120% 120%;
  }
}

@media (max-width: 360px) and (max-width: 1024px) {
  .card-collection__item:nth-child(4) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-4-300.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 360px) and (max-width: 360px) {
  .card-collection__item:nth-child(4) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-4-300.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

.card-collection__item:nth-child(5) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-5.jpg") 0 0/cover no-repeat;
  border-radius: 50px;
  background-size: 100% 100%;
  transition: background-size .3s ease;
}

.card-collection__item:nth-child(5):hover {
  cursor: pointer;
  background-size: 120% 120%;
}

@media (max-width: 1024px) {
  .card-collection__item:nth-child(5) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-5.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 360px) {
  .card-collection__item:nth-child(5) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-5.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

@media (max-width: 1024px) {
  .card-collection__item:nth-child(5) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-5-1024.jpg") 0 0/cover no-repeat;
    border-radius: 50px;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
  .card-collection__item:nth-child(5):hover {
    cursor: pointer;
    background-size: 120% 120%;
  }
}

@media (max-width: 1024px) and (max-width: 1024px) {
  .card-collection__item:nth-child(5) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-5-1024.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 1024px) and (max-width: 360px) {
  .card-collection__item:nth-child(5) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-5-1024.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

@media (max-width: 360px) {
  .card-collection__item:nth-child(5) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-5-300.jpg") 0 0/cover no-repeat;
    border-radius: 50px;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
  .card-collection__item:nth-child(5):hover {
    cursor: pointer;
    background-size: 120% 120%;
  }
}

@media (max-width: 360px) and (max-width: 1024px) {
  .card-collection__item:nth-child(5) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-5-300.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 360px) and (max-width: 360px) {
  .card-collection__item:nth-child(5) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-5-300.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

.card-collection__item:nth-child(6) {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-6.jpg") 0 0/cover no-repeat;
  border-radius: 50px;
  background-size: 100% 100%;
  transition: background-size .3s ease;
  margin: 0;
}

.card-collection__item:nth-child(6):hover {
  cursor: pointer;
  background-size: 120% 120%;
}

@media (max-width: 1024px) {
  .card-collection__item:nth-child(6) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-6.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 360px) {
  .card-collection__item:nth-child(6) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-6.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

@media (max-width: 1024px) {
  .card-collection__item:nth-child(6) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-6-1024.jpg") 0 0/cover no-repeat;
    border-radius: 50px;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
  .card-collection__item:nth-child(6):hover {
    cursor: pointer;
    background-size: 120% 120%;
  }
}

@media (max-width: 1024px) and (max-width: 1024px) {
  .card-collection__item:nth-child(6) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-6-1024.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 1024px) and (max-width: 360px) {
  .card-collection__item:nth-child(6) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-6-1024.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

@media (max-width: 360px) {
  .card-collection__item:nth-child(6) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-6-300.jpg") 0 0/cover no-repeat;
    border-radius: 50px;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
  .card-collection__item:nth-child(6):hover {
    cursor: pointer;
    background-size: 120% 120%;
  }
}

@media (max-width: 360px) and (max-width: 1024px) {
  .card-collection__item:nth-child(6) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-6-300.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
  }
}

@media (max-width: 360px) and (max-width: 360px) {
  .card-collection__item:nth-child(6) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url("../images/card tour photo-6-300.jpg") 50%/cover no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s ease;
    border-radius: 20px;
  }
}

.card-collection__title {
  width: 270px;
  height: 86px;
  padding: 50px;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
}

@media (max-width: 1024px) {
  .card-collection__title {
    width: 400px;
    padding: 50px 0 0 50px;
  }
}

@media (max-width: 360px) {
  .card-collection__title {
    width: 268px;
    height: 28px;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
    padding: 27px 0 0 25px;
  }
}

.card-collection__subtitle {
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  padding: 55px 50px 0 50px;
  flex: 1 1 auto;
}

@media (max-width: 1024px) {
  .card-collection__subtitle {
    padding: 23px 50px 0 50px;
  }
}

@media (max-width: 360px) {
  .card-collection__subtitle {
    font-size: 16px;
    line-height: 142%;
    padding: 40px 0 0 25px;
  }
}

.card-collection__link {
  display: block;
  width: 200px;
  height: 42px;
  font-weight: bold;
  font-size: 23px;
  line-height: 122%;
  margin: 30px 0 40px 30px;
  line-height: 42px;
  padding: 0 0 0 20px;
  color: #FFF;
}

.card-collection__link span {
  display: inline-block;
  width: 50px;
  height: 26px;
  background: url("../images/icons/arrowright.svg") 11px 11px no-repeat;
}

@media (max-width: 360px) {
  .card-collection__link span {
    width: 40px;
    height: 27.5px;
    background: url("../images/icons/arrowright.svg") 11.5px 12.4px no-repeat;
  }
}

@media (max-width: 1024px) {
  .card-collection__link {
    margin: 0px 0 43px 30px;
  }
}

@media (max-width: 360px) {
  .card-collection__link {
    width: 160px;
    font-size: 16px;
    text-align: center;
    margin: 0px 0 16px 0px;
  }
}

.card-collection__link:hover {
  background: #286562;
  border-radius: 50px;
}

@media (max-width: 1024px) {
  ._adaptive {
    margin: 0 53px;
  }
}

@media (max-width: 360px) {
  ._adaptive {
    margin: 0 21px;
  }
}

/*------------------------*/
.collect-tour {
  width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .collect-tour {
    width: 1024px;
  }
}

@media (max-width: 360px) {
  .collect-tour {
    width: 360px;
  }
}

.collect-tour__title {
  margin: 106px 0 0 14px;
}

@media (max-width: 1024px) {
  .collect-tour__title {
    margin: 117px 0 0 0;
  }
}

@media (max-width: 360px) {
  .collect-tour__title {
    margin: 76px 0 0 0;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
}

.collect-tour__subtitle {
  width: 400px;
  height: 56px;
  margin: 30px 0 0 392px;
}

@media (max-width: 1024px) {
  .collect-tour__subtitle {
    margin: 30px 0 0 312px;
  }
}

@media (max-width: 360px) {
  .collect-tour__subtitle {
    width: 318px;
    margin: 20px 21px 0 21px;
  }
}

.collect-tour__form {
  margin: 100px 0 0 8px;
}

@media (max-width: 1024px) {
  .collect-tour__form {
    margin: 100px 0 0 53px;
  }
}

@media (max-width: 360px) {
  .collect-tour__form {
    margin: 34px 21px 0 21px;
  }
}

@media (max-width: 360px) {
  .collect-tour ._adaptive-comment {
    position: relative;
    top: 6px;
    left: 0;
  }
}

.main-subtitle-block {
  line-height: 142%;
  text-align: center;
  color: #A6A6A6;
}

.main-form {
  width: 1170px;
  border-radius: 50px;
  background-color: #FFFFFF;
}

@media (max-width: 1024px) {
  .main-form {
    width: 918px;
  }
}

@media (max-width: 360px) {
  .main-form {
    width: 318px;
    border-radius: 30px;
  }
}

.main-form__form-wrapper {
  padding: 70px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .main-form__form-wrapper {
    padding: 60px;
  }
}

@media (max-width: 360px) {
  .main-form__form-wrapper {
    padding: 20px;
  }
}

.main-form__item {
  position: relative;
  margin-top: 33px;
}

.main-form__item:first-child {
  margin-top: -2px;
}

.main-form__item:nth-child(2) {
  margin: 0px 0 0 30px;
}

@media (max-width: 1024px) {
  .main-form__item:nth-child(2) {
    margin: 0px 0 0 20px;
  }
}

@media (max-width: 360px) {
  .main-form__item:nth-child(2) {
    margin: 33px 0 0 0px;
  }
}

.main-form__item:nth-child(4) {
  margin: 33px 0 0 30px;
}

@media (max-width: 1024px) {
  .main-form__item:nth-child(4) {
    margin: 33px 0 0 20px;
  }
}

@media (max-width: 360px) {
  .main-form__item:nth-child(4) {
    margin: 34px 0 0 0px;
  }
}

.main-form__item:nth-child(6) {
  margin: 33px 0 0 30px;
}

@media (max-width: 1024px) {
  .main-form__item:nth-child(6) {
    margin: 33px 0 0 20px;
  }
}

@media (max-width: 360px) {
  .main-form__item:nth-child(6) {
    margin: 34px 0 0 0px;
  }
}

.main-form__title {
  width: 500px;
  height: 28px;
  color: #1B1F2B;
  line-height: 142%;
}

@media (max-width: 1024px) {
  .main-form__title {
    width: 389px;
  }
}

@media (max-width: 360px) {
  .main-form__title {
    width: 218px;
  }
}

.main-form__input {
  width: 500px;
  height: 68px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 8px;
  background-color: #F9F7F4;
  font-size: 20px;
  line-height: 142%;
}

@media (max-width: 1024px) {
  .main-form__input {
    width: 389px;
  }
}

@media (max-width: 360px) {
  .main-form__input {
    width: 278px;
    height: 43px;
    font-size: 16px;
    margin: 0;
    padding: 10px;
  }
}

.main-form__input:hover {
  cursor: pointer;
}

.main-form__input:focus {
  border: #1B1F2B solid 1px;
}

.main-form__select {
  position: absolute;
  top: 66px;
  left: 457px;
  width: 25px;
  height: 25px;
  appearance: none;
  background: url("../images/icons/Rectangle 34 (Stroke).svg") 0 0 no-repeat;
}

@media (max-width: 1024px) {
  .main-form__select {
    position: absolute;
    top: 66px;
    left: 347px;
  }
}

@media (max-width: 360px) {
  .main-form__select {
    position: absolute;
    top: 48px;
    left: 246px;
  }
}

.main-form__empty-item {
  display: none;
}

.main-form__block-expansion {
  margin-top: 32px;
  width: 1030px;
}

@media (max-width: 1024px) {
  .main-form__block-expansion {
    width: 798px;
  }
}

@media (max-width: 360px) {
  .main-form__block-expansion {
    margin-top: 27px;
    width: 278px;
  }
}

.main-form__text-area {
  width: 1030px;
  height: 152px;
  border-radius: 10px;
  padding: 15px;
  margin-top: 8px;
  font-size: 20px;
  background-color: #F9F7F4;
  resize: none;
}

@media (max-width: 1024px) {
  .main-form__text-area {
    width: 798px;
  }
}

@media (max-width: 360px) {
  .main-form__text-area {
    width: 278px;
    height: 132px;
  }
}

.main-form__age-confirm {
  width: 26px;
  height: 26px;
}

@media (max-width: 360px) {
  .main-form__age-confirm {
    width: 20px;
    height: 20px;
  }
}

.main-form__age-confirm-block {
  margin-top: 9px;
  height: 26px;
  color: #1B1F2B;
}

@media (max-width: 360px) {
  .main-form__age-confirm-block {
    margin-top: 5px;
  }
}

.main-form__label {
  position: relative;
  top: -8px;
  left: 1px;
  display: inline-block;
  margin-right: 25px;
  width: 35px;
  height: 28px;
  font-size: 20px;
  color: #1B1F2B;
  text-align: center;
}

@media (max-width: 360px) {
  .main-form__label {
    font-size: 16px;
    margin-right: 19px;
    position: relative;
    top: -5px;
    left: 0px;
  }
}

.main-form__agree-icon {
  width: 26px;
  height: 26px;
}

@media (max-width: 360px) {
  .main-form__agree-icon {
    display: inline-block;
    position: relative;
    top: -42px;
    left: 0;
    width: 20px;
    height: 20px;
  }
}

.main-form__agree {
  display: inline-block;
  position: relative;
  top: -7px;
  left: 12px;
  font-size: 17px;
  letter-spacing: -0.01em;
  color: #A6A6A6;
}

@media (max-width: 1024px) {
  .main-form__agree {
    position: relative;
    top: -7px;
    left: 7px;
  }
}

@media (max-width: 360px) {
  .main-form__agree {
    width: 240px;
    font-size: 16px;
    line-height: 142%;
    position: relative;
    top: 0px;
    left: -4px;
    margin: 0px 0 0 10px;
  }
}

.main-form__agree-link {
  color: #1B1F2B;
}

.main-form__agree-link:active {
  color: #286562;
}

.main-form .main-form__find-tour, .main-form .main-form__decline-tour {
  width: 235px;
  height: 58px;
  border-radius: 10px;
  font-size: 20px;
}

@media (max-width: 360px) {
  .main-form .main-form__find-tour, .main-form .main-form__decline-tour {
    display: inline-block;
    width: 134px;
    height: 47px;
    font-size: 16px;
    line-height: 142%;
  }
}

.main-form__find-tour {
  color: #FFFFFF;
  background: #286562;
}

.main-form__find-tour:hover {
  border: #baf5ce solid 2px;
}

.main-form__decline-tour {
  background: #E0F0E5;
  color: #286562;
  margin: 0 0 0 25px;
}

@media (max-width: 360px) {
  .main-form__decline-tour {
    margin: 0 0 0 6px;
  }
}

.main-form__decline-tour:hover {
  border: #286562 solid 2px;
}

/*------------------------*/
/*------------------------*/
