@import 'nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

@mixin bg-for-travel-block($f) {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url($f) 0 0/cover  no-repeat;
    border-radius: 50px;
    background-size: 100% 100%;
    transition: background-size .3s ease;

    &:hover {
        cursor: pointer;
        background-size: 120% 120%;
    }
    @media (max-width:1024px) {
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url($f) 50% /cover no-repeat;
        background-size: 100% 100%;
        transition: background-size .3s ease;
    }
    @media (max-width:360px) {
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url($f) 50% /cover no-repeat;
        background-size: 100% 100%;
        transition: background-size .3s ease;
        border-radius: 20px;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #f9f7f4;
    overflow-x: hidden;

    @media (max-width:360px) {
        font-size: 16px;
    }
}
$primary-black: #1B1F2B;
$orange-hover: #EFA501;
/*------------------------*/
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.perfect-travel {
    background: url('../images/header-img.jpg')0 0/100% auto no-repeat;
    width: 1920px;
    height: 831px;

    @media (max-width:1024px) {
        width: 1024px;
        height: 831px;
        background: url('../images/header-img-2.jpg') 0 0/100% no-repeat;
    }

    @media (max-width:360px) {
        width: 360px;
        height: 488px;
        background: url('../images/header-img-3.jpg') 0 0/contain no-repeat;
    }
        &__logo-image {
            @media (max-width:360px) {
                display: none;
            }
        }

        &__logo-image-320{
            display: none;

            @media (max-width:360px) {
                width: 133px;
                height: 22px;
                display: block;
            }
        }

		&__top-block {
            display: flex;
            justify-content: space-between;
            width: 1168px;
            height: 88px;
            margin: 0 auto;
            padding: 28.88px 0;

            @media (max-width:1024px) {
                width: 910px;
            }
            @media (max-width:360px) {
                padding: 33px 0;
                width: 320px;
            }
		}
        
        &__tel-number-link {
            color:#FFF;
            height: 28px;
            line-height: 142%;
		}

		&__tagline {
            margin: 119px auto 0 auto;
            width: 768px;
            height: 315px;
            font-weight: bold;
            font-size: 96px;
            line-height: 109%;
            text-align: center;
            letter-spacing: 0.02em;

            @media (max-width:360px) {
                width: 360px;
                height: 114px;
                font-size: 34px;
                margin: 52px 0 0 0;
                letter-spacing: 0.02em;
                line-height: 112%;
            }
		}

		&__text {
            margin: 50px auto 0 auto;
            width: 562px;
            line-height: 142%;
            text-align: center;

            @media (max-width:1024px) {
                width: 442px;
            }
            @media (max-width:360px) {
                margin-top: 40px;
                width: 310px;
                height: 69px;
            } 
		}

		&__button {
            display: block;
            width: 118px;
            height: 34px;
            margin: 50px auto;
            background-color: #FFFFFF;
            border-radius: 10px;
            color: #000;
            font-size: 17px;
            line-height: 34px;
            text-align: center;

            @media (max-width:360px) {
                width: 114px;
                height: 33px;
                margin: 40px auto;
            }
		}
}
.navigation {
    width: 468px;
    
    @media (max-width:1024px) {
        width: 408px;
    }
    @media (max-width:360px) {
        display: none;
        
    }

		&__list {
            display: flex;
            justify-content: space-between;
            height: 28px;
		}

		&__link {
            line-height: 142%;
            color: #FFFFFF;
		}

        &__link:hover {
            text-decoration: underline;
        }
}
/*------------------------*/
.choose-tour {
    
    &__wrapper {
        width: 1155px;
        margin: 0 auto;

        @media (max-width:1024px) {
            width: 1024px;
        }
        @media (max-width:360px) {
            width: 360px;
        }
    }
    &__title {
        margin: 135px 0 0 16px;

        @media (max-width:1024px) {
            margin: 135px auto 0 auto;
        }
        @media (max-width:360px) {
            margin: 75px auto 0 auto;
        }
    }

    &__list {
        width: 700px;
        height: 34px;
        display: flex;
        margin: 35px auto 100px auto;

        @media (max-width:1024px) {
            margin: 35px 154px 100px;
        }
        @media (max-width:360px) {
            width: 270px;
            flex-wrap: wrap;
            margin: 32px 42px 70px;
        }
    }

    &__item {
        padding-left: 30px;

        &:first-child {
            padding-left: 10px;
        }
        &:first-child a {
            color: $orange-hover;
            border-bottom: 2px solid $orange-hover;
        }

        @media (max-width:360px) {
            padding: 1px 0 0 10px;

            &:nth-child(4) {
                padding: 14px 0 0 50px;
            }
            &:nth-child(5) {
                padding: 14px 0 0 10px;
            }
        }
    }

    &__link {
        font-weight: bold;
        font-size: 23px;
        line-height: 122%;
        color: $primary-black;

        &:hover {
            border-bottom: 2px solid $primary-black;
        }

        @media (max-width:360px) {
            font-size: 16px;
        }
    }
}
.main-title-block {
    font-size: 59px;
    font-weight: bold;
    line-height: 124%;
    text-align: center;
    color: $primary-black;

    @media (max-width:360px) {
        font-size: 23px;
        line-height: 120%;
        letter-spacing: 0.04em;
    }
}

.card-collection {
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    
    @media (max-width:360px) {
        width: 360px;
    }

    &__item { 
        display: inline-block;
        width: 370px;
        height: 531px;
        display: flex;
        flex-direction: column;
        margin: 0 30px 30px 0;

        @media (max-width:1024px) {
            width: 450px;
            height: 531px;
            margin: 0 18px 18px 0;
        }

        @media (max-width:360px) {
            width: 318px;
            height: 318px;
        }
        
        &:nth-child(1) {
            @include bg-for-travel-block ('../images/card tour photo-1.jpg');

            @media (max-width:1024px) {
                @include bg-for-travel-block ('../images/card tour photo-1-1024.jpg');
            }
            @media (max-width:360px) {
                @include bg-for-travel-block ('../images/card tour photo-1-300.jpg');
            }
        }
        &:nth-child(2) {
            @include bg-for-travel-block ('../images/card tour photo-2.jpg');
            
            @media (max-width:1024px) {
                @include bg-for-travel-block ('../images/card tour photo-2-1024.jpg');
            }
            @media (max-width:360px) {
                @include bg-for-travel-block ('../images/card tour photo-2-300.jpg');
            }
        }
        &:nth-child(3) {
            @include bg-for-travel-block ('../images/card tour photo-3.jpg');
            margin: 0;

            @media (max-width:1024px) {
                margin: 0 18px 18px 0;
                @include bg-for-travel-block ('../images/card tour photo-3-1024.jpg');
            }
            @media (max-width:360px) {
                @include bg-for-travel-block ('../images/card tour photo-3-300.jpg');
            }
        }
        &:nth-child(4) {
            @include bg-for-travel-block ('../images/card tour photo-4.jpg');

            @media (max-width:1024px) {
                @include bg-for-travel-block ('../images/card tour photo-4-1024.jpg');
            }
            @media (max-width:360px) {
                @include bg-for-travel-block ('../images/card tour photo-4-300.jpg');
            }
        }
        &:nth-child(5) {
            @include bg-for-travel-block ('../images/card tour photo-5.jpg');

            @media (max-width:1024px) {
                @include bg-for-travel-block ('../images/card tour photo-5-1024.jpg');
            }
            @media (max-width:360px) {
                @include bg-for-travel-block ('../images/card tour photo-5-300.jpg');
            }
        }
        &:nth-child(6) {
            @include bg-for-travel-block ('../images/card tour photo-6.jpg');
            margin: 0;

            @media (max-width:1024px) {
                @include bg-for-travel-block ('../images/card tour photo-6-1024.jpg');
            }
            @media (max-width:360px) {
                @include bg-for-travel-block ('../images/card tour photo-6-300.jpg');
            }
        }
    }
    
    &__title {
        width: 270px;
        height: 86px;
        padding: 50px;
        font-weight: 500;
        font-size: 35px;
        line-height: 122%;

        @media (max-width:1024px) {
            width: 400px;
            padding: 50px 0 0 50px;
        }
        @media (max-width:360px) {
            width: 268px;
            height: 28px;
            font-size: 23px;
            line-height: 120%;
            letter-spacing: 0.04em;
            padding: 27px 0 0 25px;
        }
    }

    &__subtitle {
        font-size: 17px;
        line-height: 142%;
        letter-spacing: -0.01em;
        padding: 55px 50px 0 50px;
        flex: 1 1 auto;

        @media (max-width:1024px) {
            padding: 23px 50px 0 50px;
        }
        @media (max-width:360px) {
            font-size: 16px;
            line-height: 142%;
            padding: 40px 0 0 25px;
        }
    }

    &__link {
        display: block;
        width: 200px;
        height: 42px;
        font-weight: bold;
        font-size: 23px;
        line-height: 122%;
        margin: 30px 0 40px 30px;
        line-height: 42px;
        padding: 0 0 0 20px;
        color: #FFF;

        & span {
            display: inline-block;
            width: 50px;
            height: 26px;
            background: url('../images/icons/arrowright.svg') 11px 11px no-repeat;

            @media (max-width:360px) {
                width: 40px;
                height: 27.5px;
                background: url('../images/icons/arrowright.svg') 11.5px 12.4px no-repeat;
            }
        }

        @media (max-width:1024px) {
            margin: 0px 0 43px 30px;
        }
        @media (max-width:360px) {
            width: 160px;
            font-size: 16px;
            text-align: center;
            margin: 0px 0 16px 0px;
        }
    }
    &__link:hover {
        background: #286562;
        border-radius: 50px;
    }
}
._adaptive {
    @media (max-width:1024px) {
        margin: 0 53px;
    }
    @media (max-width:360px) {
        margin: 0 21px;
    }
}
/*------------------------*/
/*------------------------*/